html{
    font-size: 100%;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 15px;
    font-family: Helvetica;
    color: white;
}

header{
    background: url('https://th.bing.com/th/id/OIP.qo9vzNBs1BD04VG2fxjGdgHaEK?pid=ImgDet&rs=1') no-repeat;
    background-size: cover;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto
}
.flex{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.flex h1{
    flex: 0 1 170px;
}